<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">
  </head>
  <body id="page-top">


  </body>
</html>

<!-- this is where we view our helper methods to provide added protection, so the current user can view their info only -->
