<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Welcome <%= Helpers.current_user(session).username if Helpers.is_logged_in?(session) %></title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">
  </head>
  <body id="page-top">
    <% if Helpers.is_logged_in?(session) %>
    <h1>Hello, <%= Helpers.current_user(session).username %></h1>
    <h2>Your Balance is <%= Helpers.current_user(session).balance %></h2>

    <a href="/logout">Log Out</a>
    <% else %>
      <a href="/">Log In</a>
    <% end %>
  </body>
</html>
